$color-primary-blue: #42ffff;
$color-primary-pink: #f9ccff;

$color-secondary-blue: #005d82;
$color-tertiary-blue: #007eaf;

$color-black: black;
$color-white: #FFFFFF;
$color-gray-1: #cecece;
$color-gray-2: #394d5c;
$color-test: orangered;


//GRID SYSTEM
$grid-width: 110rem;
$grid-width-small: 70rem;

$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;

$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;

