

.btn{
    &,
    &:link,
    &:visited{
        
    
        font-family: 'Panton';
         
    }
    &-header{
        z-index: 10000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 3.5rem;
        background-color: $color-white;
        background-image: linear-gradient(to right, $color-primary-blue,$color-primary-pink,$color-primary-blue,$color-primary-pink);
        background-size: 400% 400%;
        background-position: left;
        -webkit-background-clip: text;
        color: transparent;
        transition: 1s ease-in-out;
        backface-visibility: none;
        &:hover{
            background-position: 100% 0;
        }

        @include respond(tab-port){
            font-size: 2.5rem;
        }
    }
    &-chapter{
        text-decoration: none;
        font-family: 'Baloo Bhai', cursive !important;
        font-size: 2rem;
        color: $color-tertiary-blue;
        border-bottom: 2px solid $color-tertiary-blue;
        @include center-absolute;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);



        &:hover{
            color: lighten($color-tertiary-blue, 10%);
            border-bottom: 2px solid lighten($color-tertiary-blue, 10%);

        }
    }

    &-white{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $color-white;
        cursor: pointer;
        transition: 0.2s ease ;

        
    }
    &-gradient{
        img{
            transform: scale(0.5);
            z-index: 2;
        }
        transform: scale(0.8);
        background-image: linear-gradient(to right, $color-primary-blue,$color-primary-pink,$color-primary-blue,$color-primary-pink);
        background-size: 400% 400%;
        background-position: left;
        cursor: pointer;
        padding: 0 2rem;
        z-index: 3;
        border-radius: 5rem;
        transition: background-position 2s ease-in-out;
        
        &:hover{
            transform: translateY(-0.3rem) scale(0.8);
            background-position: 100% 0;
            box-shadow: 0 0.5rem 0.7rem rgba($color-black,0.1);
        }
        &:active{
            transform: translateY(-0.1rem) scale(0.8);
            box-shadow: 0 0.5rem 0.5rem rgba($color-black,0.15);
        }

    }
    &-lesson{
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 0rem 7rem;
        transform: translateX(-50%) scale(0.5);
        backface-visibility: none;
        transition: transform ease 0.2s,
                    box-shadow ease 0.2s,
                    background-position ease 3s;

        @include respond(tab-port){
            bottom: 0;
            left: 74%;
        }
        
        &:hover{
            transform:translateX(-50%) translateY(-0.3rem) scale(0.52);
            background-position: 100% 0;
            box-shadow: 0 0.5rem 0.7rem rgba($color-black,0.1);
        }
        &:active{
            transform:translateX(-50%) translateY(-0.1rem) scale(0.51);
            box-shadow: 0 0.5rem 0.5rem rgba($color-black,0.15);
        }
    }
    &-final{
        cursor: pointer;
        position: absolute;
        top: 34%;
        left: 50%;
        padding: 1rem 4rem;
        transform: translateX(-50%) scale(0.6);
        backface-visibility: none;
        transition: transform ease 0.2s,
                    box-shadow ease 0.2s,
                    background-position ease 3s;
        &:hover{
            transform:translateX(-50%) translateY(-0.3rem) scale(0.62);
            background-position: 100% 0;
            box-shadow: 0 0.5rem 0.7rem rgba($color-black,0.1);
        }
        &:active{
            transform:translateX(-50%) translateY(-0.1rem) scale(0.61);
            box-shadow: 0 0.5rem 0.5rem rgba($color-black,0.15);
        }
    }
        
}


